
<ul class="navbar-nav sidebar sidebar-light accordion flex-column" id="accordionSidebar" style="width: 200px; background-color: lightsteelblue;">
    <a class="sidebar-brand text-center" href="<%#= admin_root_path %>">
        <div class="sidebar-brand-icon">
            <i class="fas fa-shoe-prints"></i>
        </div>
        <div class="sidebar-brand-text mx-5">Shadbox Attendence</div>
    </a>
     <% if user_signed_in? %>
    <hr class="sidebar-divider my-0">
    <% if current_user.HR? || current_user.manager? || current_user.team_lead? %>

    <li class="nav-item">
        <a class="nav-link" href="<%= leaves_path %>">
            <i class="fas fa-fw fa-chart-line"></i>
            <span>Pending Leaves Request</span>
        </a>
    </li>
    <%end%>
    
    <li class="nav-item">
        <a class="nav-link collapsed" href="<%= edit_employee_path (current_user) %>">
            <i class="fas fa-fw fa-book"></i>
            <span>Edit Profile</span>
        </a>
    </li>

    <li class="nav-item">
        <a class="nav-link collapsed" href="<%=leave_details_path(current_user) %>">
            <i class="fas fa-shoe-prints"></i>
            <span>Leaves Details</span>
        </a>
    </li>
    
    <li class="nav-item">
        <a class="nav-link collapsed" href="<%#= admin_products_path %>">
            <i class="fas fa-shoe-prints"></i>
            <span>Attendence</span>
        </a>
    </li>
    

    <li class="nav-item">
        <a class="nav-link" data-method="delete" href="<%= destroy_user_session_path%>">
            <i class="fas fa-angle-right"></i>
            <span>Log out</span>
        </a>
    </li>
    <%end%>
</ul>

